@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  min-height: 1000px;
  box-sizing: border-box;
  perspective: 1px;
  padding-top: 73px;
}
.parallax-wrapper::before {
  content:"";
  width: 100vw;
  height: 100vh;
  min-height: 1000px;
  top:0;
  left:0;
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
}

.regular-wrapper {
  width: 100vw;
  background-color: rgb(214, 214, 214);
  z-index: 2;
  position: relative;
}

.content {
  margin: 0;
  min-height: 100vh;
  padding-top: 300px;
  position: relative;
}

.saying {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 60px;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  z-index: 10;
}

li, a, button {
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: rgba(41, 18, 71, 1);
  z-index: 10;
  position: fixed;
  width: 100%;
}

.video-wrap {
  position: absolute;
  top: 73px;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 1000px;
  overflow: hidden;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.video {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  transform-style: preserve-3d;
  z-index: -100;
}

.video-overlay {
  height: 100vh;
  min-height: 1000px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(41, 18, 71, 0.85);
  z-index: 1;
}

.woosh-top {
  position: absolute;
  top: 0px;
  z-index: 2;
}

.woosh-bottom {
  position: absolute;
  bottom: 0px;
  left: -25px;
  z-index: 3;
  width: 110vw;
}

.regular-wrapper .woosh-bottom {
  bottom: -5px;
}

.logo {
  cursor: pointer;
  max-width: 150px;
  fill: #fff;
}

.text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 10em;
  color: white;
  z-index: 15;
  top: 50%;
  width: 500px;
}

.logo-no-text {
  position:absolute;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 209px;
  height: 234px;
  transform: translateY(0px);
  z-index: 4;
}

.intro {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 1.1em;
  color: white;
  z-index: 15;
  top: 62%;
  max-width: 700px;
}

@keyframes float {
  0% {
    transform: translateY(0px)
  }

  50% {
    transform: translateY(-20px)
  }

  100% {
    transform: translateY(0px)
  }
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgba(243,101,57, 1);
}

button {
  padding: 9px 25px;
  background-color: rgba(243,101,57, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgba(41, 18, 71, 0.85);
  font-weight: bold;
}

button:hover {
  background-color: #ef4236;
}

.directional-button {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 200px;
  height: 200px;
  transform: rotate(24deg);
  z-index: 5;
}

.weapon1 {
  position: absolute;
  left: 0;
  top: -200px;
  width: 200px;
  height: 200px;
  z-index: 5;
}

.coins1 {
  position: absolute;
  right: -60px;
  bottom: 10px;
  width: 300px;
  height: 300px;
  z-index: 8;
}

.coins2 {
  position: absolute;
  left: -30px;
  bottom: 0px;
  width: 200px;
  height: 200px;
  z-index: 20;
}

.gamer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  top: -20px;
  width: 900px;
  border-radius: 20px;
  z-index: 10;
}

.content section {
  width: 1000px;
  height: 500px;
  margin: 40px auto;
  padding: 20px 40px 40px 40px;
  position: relative;
  color: #000;
}

.parallax-wrapper .content {
  padding-top: 0px;
  height: 100vh;
}

.parallax-wrapper .content section {
  color: #edf0f1;
}

.content section h2 {
  font-family: 'Press Start 2P', cursive;
  color: rgba(41, 18, 71, 0.85);
}

.parallax-wrapper .content section h2 {
  color: #edf0f1;
}

.content section p {
  font-size: 1.2em;
  margin-top: 20px;
}

.sectionOdd h2 {
  text-align: left;
}

.sectionEven h2 {
  text-align: right;
}

.sectionOdd p {
  max-width: 500px;
}

.sectionEven p {
  position: absolute;
  right: 20px;
  width: 500px;
}

.section3 {
  min-height: 800px;
}

.why-gamepower {
  width: 350px;
  position: absolute;
  right: 100px;
  top: 20px;
}

.publish {
  width: 400px;
  position: absolute;
  left: 10px;
  top: 20px;
}

.nft {
  width: 500px;
  position: absolute;
  right: 20px;
  top: -60px;
}

.controller {
  width: 340px;
  position: absolute;
  right: 30px;
  top: 20px;
}

.rocket {
  width: 400px;
  position: absolute;
  left: 30px;
  top: 20px;
}

.roadmap image {
  text-align: center;
}

.roadmap section {
  margin: 200px auto auto auto !important;
  height: auto;
}

.roadmap .coins1 {
  display: none;
}

.roadmap .coins2 {
  display: none;
}

.roadmap .coins3 {
  display: none;
}

.roadmap .coins4 {
  display: none;
}

.footer section {
  margin: 0 auto auto auto !important;
}

.footer .title {
  font-size: 2em;
  text-align: center;
  opacity: 0.7;
}

.footer .sub-title {
  text-align: center;
  margin-bottom: 40px;
  opacity: 0.7;
}

.footer-logo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 10em;
  color: white;
  z-index: 15;
  top: -80px;
  width: 700px;
  opacity: 0.7;
}

.footer .social {
  text-align: center;
}