.App {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
  .App {
    flex-direction: column;
  }
}

.App a {
  color: rgb(191, 101, 0);
  font-weight: bold;
  text-decoration: none;
}

.App a:hover {
  color: rgb(204, 31, 0);
}

.App-details {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  align-items: flex-start;
}

@media only screen and (max-width: 1000px) {
  .App-details {
    padding: 0 2rem;
  }
}

.App-logo-container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
}

.App-logo-container .App-logo {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .App-logo-container {
    margin: 1rem;
  }

  .App-logo-container .App-logo {
    width: 100%;
  }
}

.App-art {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .App-art {
    display: none;
  }
}

.App-art img {
  width: 60%;
  box-shadow: 0 25px 50px -12px rgba(0,0,0,.45);
}

.App-title {
  display: inline-block;
  font-size: 40px;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.App-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background: linear-gradient(103deg, rgb(204, 31, 0) 0%, rgb(191, 101, 0) 100%);
  width: 200px;
}

.App-intro {
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.App-description {
  margin-bottom: 2rem;
  line-height: 1.77;
  color: #ccc;
  width: 85%;
}

.App-subscribe {
  background-color: #773fbb;
  padding: 1.5rem;
  width: 85%;
  border-radius: 3px;
  box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
}

@media only screen and (max-width: 1000px) {
  .App-subscribe {
    width: 100%;
  }
}


.App-subscribe h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.App-form {
  position: relative;
}

.App-form h2 {
  color: rgb(191, 101, 0);
}

.App-form input {
  font-family: inherit;
  outline: none;
  font-size: 90%;
  padding: 10px 1rem;
  border: none;
  display: block;
  border-radius: 3px;
}

.App-form .App-email {
  width: 99%;
  background-color: #ecf0f1;
}

.App-form .App-submit {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(103deg, rgb(204, 31, 0) 0%, rgb(191, 101, 0) 100%);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color .22s ease;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (max-width: 1000px) {
  .App-form .App-submit {
    position: relative;
    margin-top: 10px;
    width: 99%;
  }
}

.App-form .App-submit:hover {
  background-color: rgb(70, 41, 109);
}