* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.65;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #4a148c 50%, rgb(41, 18, 71) 50%);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
